
.container {
    border: 5px solid black;
    margin: 5px;
    padding: 5px;
    top: 7px;
    left: 530px;
    width: 221px;
    height: 59px;
    opacity: 1;
    text-align:left;
    background-image:none
    background-size: cover;
    color:root;
    font-size: 2rem;
}